@{
  Layout = "_Layout";
}

@using MessageClient.ViewModels

@model LoginViewModel

<h2>Log into your account</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Name)
  @Html.TextBoxFor(m => m.Name)

  @Html.LabelFor(m => m.Password)
  @Html.EditorFor(m => m.Password)

  <button type="submit">Log In</button>
}
<br>
<a href='@Url.Action("Register")'><button>Register a new account</button></a>

