@{
  Layout = "_Layout";
}

@using MessageClient.ViewModels

@model LoginViewModel

<h2>Log into your account</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.UserName)
  @Html.TextBoxFor(model => model.UserName)

  @Html.LabelFor(model => model.Password)
  @Html.PasswordFor(model => model.Password)

  <button type="submit">Log In</button>
}
<br>
<a href='@Url.Action("Register")'><button>Register a new account</button></a>

