@{
  Layout = "_Layout";
}

@using MessageClient.ViewModels

@model RegisterViewModel

<h2>Register a new account</h2>
<hr />
@using (Html.BeginForm())
{
  @Html.LabelFor(user => user.UserName)
  @Html.TextBoxFor(user => user.UserName)

  @Html.LabelFor(user => user.Password)
  @Html.TextBoxFor(user => user.Password)

  @Html.LabelFor(user => user.ConfirmPassword)
  @Html.TextBoxFor(user => user.ConfirmPassword)

  <button type="submit">Register</button>
}
