@using MessageClient.Models
@model MessageClient.Models.Message

<h4>Message Details</h4>
<hr />
<h5>User: @Model.Username</h5>
<h5>Topic: @Topic.GetDetails(Model.TopicId).Title</h5>
<h6>@Model.PostDate.ToString("dddd, dd MMMM yyyy hh:mm tt")</h6>
<hr />
<p>@Html.DisplayFor(model => model.MessageBody)</p>

@if(User.Identity.IsAuthenticated && User.Identity.Name == Model.Username)
{
  <a href='@Url.Action("Edit", "Messages", new { id = Model.MessageId })'><button class="btn btn-primary">Edit This Message</button></a>
  <br>
  @using (Html.BeginForm("Delete", "Messages", new { id = Model.MessageId }))
  {
    <button type="submit" class="btn btn-danger">Delete This Message</button>
  }
}