@using MessageClient.Models;
@model MessageClient.Models.Message;

<h4>Edit Post</h4>

  @using (Html.BeginForm("Edit", "Messages"))
  {
    @Html.HiddenFor(model => model.TopicId)
    <input type="hidden" name="topicId" value=@Model.TopicId />
    <input type="hidden" name ="messageId" value="@Model.MessageId" />
    <input type="hidden" name="username" value=@User.Identity.Name />

    <h5>Post by @Model.Username in @Topic.GetDetails(Model.TopicId).Title</h5>
    <textarea rows="3" cols="60" name="messageBody">
      @Model.MessageBody
    </textarea>
    <br>

    <input class="btn btn-primary" type="submit" value="Update Post" />
  }