@using MessageClient.Models

<h3>All Messages:</h3>

<ol>
  @foreach (Message message in Model)
  {
    <table class="table">
      <thead>
        <tr>
        <th>@message.Username &emsp; Topic: @Topic.GetDetails(message.TopicId).Title &emsp; @message.PostDate.ToString("MM/dd/yyyy hh:mm tt")</th>
        <td align="right">ID: @message.MessageId</td>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td style="width:78%">@message.MessageBody</td>
        <td style="width:22%" align="right"><a href='/Messages/Details/@(message.MessageId)'><button class="btn btn-primary">View Details</button></a></td>
        </tr>
      </tbody>
    </table>
    <br>
  }
</ol>