@{
  Layout = "_Layout";
}

@using MessageClient.Models
@model MessageClient.Models.Topic

<h4>Messages in Topic: @Html.DisplayFor(model => model.Title)</h4>
<hr />

  @foreach (Message message in Model.Messages)
  {
    <table class="table">
      <thead>
        <tr>
        <th>@message.Username &emsp; @message.PostDate.ToString("MM/dd/yyyy hh:mm tt")</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td style="width:78%">@message.MessageBody</td>
        <td style="width:22%" align="right"><a href='/Messages/Details/@(message.MessageId)'><button class="btn btn-primary">View Details</button></a></td>
        </tr>
      </tbody>
    </table>
    <br>
  }

  @using (Html.BeginForm("Create", "Messages"))
  {
    @Html.HiddenFor(model => model.TopicId)
    <input type="hidden" name="topicId" value=@Model.TopicId />
    <input type="hidden" name="username" value=@User.Identity.Name />

    <h5>Add a new post:</h5>
    <textarea rows="3" cols="60" name="messageBody"></textarea>
    <br>

    <input class="btn btn-primary" type="submit" value="Add Post" />
  }